html
{
background-color: #F8F8FF
}
body{
        margin:0px;
        background:#000;
    }   
    .header-cont{ width:100%; postion:fixed; top:0px; }
    .header{
              height:50px;
              background:#ffffff;
              border:1px solid #CCC;
              width:960px;
              margin:0px auto;
            } 
    .content{
              width:960px;
              background:#ffffff;
              border: 1px solid #CCC;
              height: 2000px;
              margin: 70px auto;
            }
p
 {
  font-family: cursive;
  font-size: large;
  color: #0000ff;
  background-color: #ffff00;
}
h1
{
  font-family: "Times New Roman",Georgia,serif;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  color: #ff0000;
}

